@using KitchenCloud.Models.Helpers
@using KitchenCloud.Models.Messenger;
@using KitchenCloudEntities.Users
@model MessageModel
@{
    List<MessageModel> chatmsgs = (List<MessageModel>)ViewBag.ChatList;
    User thisuser = (User)Session[WebUtil.CURRENT_USER];

}

<style>
    ::-webkit-scrollbar {
        width: 1px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    }

    .InboxMsg {
        border: 1px solid lightgrey;
        padding: 15px 15px;
    }

        .InboxMsg:hover {
            border: 1px solid gray;
            background: gainsboro;
            cursor: pointer;
            font-weight: bold;
        }
</style>


<input type="hidden" id="mid" value="@thisuser.Id" />


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<div id="mainmessagearea" style="background: url(../../Content/Images/Extra/chat-bg.png) beige">
    <img id="Chatloading" src="../../Content/Images/GIF/FhHRx.gif" style="margin-left: 50%;margin-top: 50px" />

    <br />
    <br />

    @if (chatmsgs != null)
    {
        <div class="container-fluid" id="newmessagearea">
            @foreach (MessageModel chatmsg in chatmsgs)
            {
                if (chatmsg.SenderId != thisuser.Id)
                {

                    <div class="row" chatid="@chatmsg.RecieverId">
                        <div class="col-sm-1"></div>

                        <div class="col-sm-1" style="margin-left: -10px; margin-right: 10px">
                            <img class="img-circle" height="50" width="50" src="@chatmsg.SenderImage.Replace('~',' ')" />
                            <br />
                            <span class="text-muted" style="margin-left: 6px;font-size: 10px;font-weight: bold ">
                                @chatmsg.SenderName
                            </span>
                        </div>

                        <div class="well col-sm-5">
                            <span class="pull-right" style="margin-top: -15px; font-size: 10px; font-weight: bold">
                                @chatmsg.SentOn.ToString()
                            </span>
                            <span>
                                @chatmsg.Body
                            </span>
                        </div>
                        <div class="col-lg-5">

                        </div>
                    </div>
                }
                else if (chatmsg.SenderId == thisuser.Id)
                { <div class="row" chatid="@chatmsg.RecieverId">

                <div class="col-sm-5">

                </div>
                <div class="well col-sm-5" style="background: white">
                    <span class="pull-right" style="margin-top: -15px; font-size: 10px; font-weight: bold">
                        @chatmsg.SentOn.ToString()
                    </span>
                    <span>
                        @chatmsg.Body
                    </span>

                </div>
                <div class="col-sm-1">
                    <img class="img-circle" height="50" width="50" src="@chatmsg.SenderImage.Replace('~',' ')" alt="" />
                    <br />
                    <span class="text-muted " style="margin-left: 14px;font-size: 12px;font-weight: bold ">
                        You
                    </span>
                </div>
                <div class="col-sm-1"></div>

            </div>

                }
            }

            
        </div>
    }
    <br />
    <br />
    <br />

</div>


@*<script src="~/Scripts/jquery-2.2.3.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.1.min.js"></script>*@
@*<script>
    $(function () {
        $($("#ChatFrame").contents()).scrollTop(10000);

        //var c = $.connection('/KitchenCloud');
        //c.start()
        //    .done(function (x) {
        //        alert(x);
        //        alert(c);
        //        //console.log(c);
        //        //console.log(x);     //x and c are the same!
        //    });


        //var connection = $.hubConnection();
        //var hub = connection.createHubProxy('KitchenCloud');
        //hub.on("onConnect",
        //    function (msg) {
        //        //alert("yes");
        //        alert(msg);
        //    });
        //connection.start(function () {
        //    hub.invoke('Connect', $("#mid").val());
        //    //hub.invoke('SendMessage', 'hi');
        //    //alert("Started");
        //});

    });

</script>*@