
@using KitchenCloud.Models.Shared;
@model UpdatePassword

@using (Html.BeginForm("ChangePassword", "Dashboard", FormMethod.Post))
{
    <div class="container col-lg-8 col-lg-offset-2 ">

        <div class="form-group">
            @Html.LabelFor(x => x.OldPassword, new { @class = "lbl" }) @Html.ValidationMessageFor(x => x.OldPassword, null, new { @class = "text-danger" })
            @Html.TextBoxFor(x => x.OldPassword, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.NewPassword, new { @class = "lbl" }) @Html.ValidationMessageFor(x => x.NewPassword, null, new { @class = "text-danger" })
            @Html.TextBoxFor(x => x.NewPassword, new { @class = "form-control" })
            <br />
            @Html.LabelFor(x => x.ConfirmNewPassword, new { @class = "lbl" }) @Html.ValidationMessageFor(x => x.ConfirmNewPassword, null, new { @class = "text-danger" })
            @Html.TextBoxFor(x => x.ConfirmNewPassword, new { @class = "form-control" })
            <br/>
            <br />  <br /> 
            <div class="form-group">
                <input class="btn btn-primary col-lg-8 col-lg-offset-2" value="Change Password" type="submit" />

            </div>
        </div>
    </div>


}
